In [1]:
import statistics

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_df = pd.DataFrame(purchase_data)
players = purchase_df.SN.unique()
data = {'Total Players':len(players)}
df = pd.DataFrame(data, index =[0])
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [5]:
unique_item = purchase_data["Item ID"].unique()
ave_price = purchase_data.Price.mean()
num_purchases=len(purchase_data["Price"])
total_rev = purchase_data["Price"].sum()

In [6]:
data = {'Nuber of Unique Items':len(unique_item),
'Average Price':round(ave_price,2),
'Number of Purchases':num_purchases,
'Total Revenue':total_rev}
df = pd.DataFrame(data, index =[0])
df

   Nuber of Unique Items  Average Price  Number of Purchases  Total Revenue
0                    183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
m = purchase_data[purchase_data.Gender == 'Male']
f = purchase_data[purchase_data.Gender == 'Female']
o = purchase_data[purchase_data.Gender == 'Other / Non-Disclosed']

m_count=len(m.SN.unique())
f_count=len(f.SN.unique())
o_count=len(o.SN.unique())
total = m_count+f_count+o_count
m_percentage = round(m_count/total*100,2)
f_percentage = round(f_count/total*100,2)
o_percentage = round(o_count/total*100,2)

data = {'':['Male','Female', 'Other / Non-Disclosed'] ,
'Total Count':[m_count,f_count,o_count],
'Percentage of Players':[str(m_percentage)+'%',str(f_percentage)+'%',str(o_percentage)+'%']
}
df = pd.DataFrame(data)
output_df =df.set_index('')
output_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
df1 =pd.DataFrame(purchase_data.groupby('Gender')['Purchase ID'].count())
df2 =pd.DataFrame(purchase_data.groupby('Gender').Price.mean())
df3 =pd.DataFrame(purchase_data.groupby('Gender').Price.sum())

merge_df = pd.merge(df1, df2, on = "Gender", how = "inner")
merge_df = pd.merge(merge_df,df3,on = "Gender", how ="inner" )

total = [merge_df.iloc[0,2]/f_count,
        merge_df.iloc[1,2]/m_count,
        merge_df.iloc[2,2]/o_count]
merge_df['Avg Total Purchase per Person'] = total
merge_df = merge_df.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})

In [90]:
merge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [77]:
p = purchase_data.groupby(['Gender']).count()

p2 = p['Purchase ID']
p2_df = pd.DataFrame(p2)

p_new = purchase_data.groupby('Gender')
p_ave = p_new.mean()
p_ave_df=pd.DataFrame(p_ave['Price'])
p_ave_df

p_sum = p_new.sum()
p_sum_df = pd.DataFrame(p_sum['Price'])
#p_sum_df


merge_df = pd.merge(p2_df, p_ave_df, on = "Gender", how = "inner")
merge_df = pd.merge(merge_df,p_sum_df,on = "Gender", how ="inner" )
#merge_df.head()


total = [merge_df.iloc[0,2]/f_count,
        merge_df.iloc[1,2]/m_count,
        merge_df.iloc[2,2]/o_count]
merge_df['Avg Total Purchase per Person'] = total
merge_df = merge_df.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Value'})

TypeError: 'DataFrameGroupBy' object is not callable

In [71]:
merge_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [74]:
bins = []
binned_data = purchase_data(,bins)

(780, 7)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame